.card-list {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
.responsive {
  width: 100%;
  height: auto;
}
#back {
  position: relative;
  left: 30%;
  margin-right: 10px;
  margin-bottom: 20px;
  width: 90px;
}
